<div class="row" ng-if="!isCreateNewJob">
    <div class="fill-width-image">
        <div class="center">
            <div class="center-inner">
                <h1>Only for fresher’s!!</h1>
                <p>We understand the challenge to find your first professional opportunity in today's competitive environment. We tried to make it easier for all fresher’s / newcomers by aggregating all fresher jobs throughout India and providing a common jobs search portal to find your first dream job. </p>
                
                <label><i>“Don't wait and let's try it once.”</i></label>
            </div>
        </div>
    </div>
</div>
<section class="newSection container" ng-if="!isCreateNewJob">
    <div class="row">
        <div class="col-sm-8">
            <div class="well">
                <h3>Latest Jobs:</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li data-ng-repeat="list in jobsList | limitTo:10:1"><a href="{{list.deeplink}}" data-ng-bind="list.title" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <h3>Jobs by location:</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li data-ng-repeat="list in JobListUrls"><a href="/search?keyword=&location={{list.location}}" data-ng-bind="list.title" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
@Html.Partial("../User/_CreateFresherJob")
