@section Scripts {
    @Scripts.Render("~/bundles/LoginPage")    
}
<div>
    Email:
    <div>
        <input ng-model="email" />
    </div>
    Password:
    <div>
        <input ng-model="password" />
    </div>
    You're registering as:
    <div>
        <select ng-model="userType">
            <option value="1">Fresher</option>
            <option value="2">Organization</option>
        </select>
    </div>
    <div>
        <button ng-click="login()">Login</button>
    </div>
</div>
