@section Scripts {
    @Scripts.Render("~/bundles/RegisterPage")
}
<div>
    First Name:
    <div>
        <input ng-model="firstName" />
    </div>
    Last Name:
    <div>
        <input ng-model="lastName" />
    </div>
    Email:
    <div>
        <input ng-model="email" />
    </div> 
    Password: 
    <div>
        <input type="password" ng-model="password" />
    </div>
    You're registering as:
    <div>
        <select ng-model="userType">
            <option value="1" selected>Fresher</option>
            <option value="2">Organization</option>
        </select>
    </div>
    <div>
        <button ng-click="registerUser()">Register</button>
    </div>
</div>
