<div>
    Title:
    <div>
        <input ng-model="newJobDetails.title" />
    </div>
    Description:
    <div>
        <input ng-model="newJobDetails.description" />
    </div>
    Salary:
    <div>
        <input ng-model="newJobDetails.salary" />
    </div>
    Location:
    <div>
        <input ng-model="newJobDetails.location" />
    </div>
    <div>
        <button ng-click="createNewJob()">Publish</button>
    </div>
</div>
