@section Scripts {
    @Scripts.Render("~/bundles/Custom")
}
<div>
    Profile Summary:
    <div>
        <textarea ng-readonly="!inEditMode" ng-model="profileSummary"></textarea>
    </div>
    Date Of Birth:
    <div>
        <md-datepicker ng-model="dob" md-placeholder="Enter date of birth"
                       md-open-on-focus></md-datepicker>
    </div>
    Gender
    <label ng-show="!inEditMode" ng-bind="genderValue"></label>
    <select ng-show="inEditMode" ng-model="gender">
        <option ng-repeat="option in genderCollection" value="{{option.id}}">{{option.name}}</option>
    </select>
</div>
    Marital Status:
<div>
    <label ng-show="!inEditMode" ng-bind="maritalStatusValue"></label>
    <select ng-show="inEditMode" ng-model="maritalStatus">
        <option ng-repeat="option in maritalStatusCollection" value="{{option.id}}">{{option.name}}</option>
    </select>
</div>
    Preferred Location:
<div>
    <label ng-show="!inEditMode" ng-bind="preferredLocationValue"></label>
    <select ng-show="inEditMode" ng-model="preferredLocation" multiple>
        <option ng-repeat="option in preferredLocationCollection" value="{{option.id}}">{{option.name}} </option>
    </select>
</div>
    Industry:
<div>
    <label ng-show="!inEditMode" ng-bind="industryValue"></label>
    <select ng-show="inEditMode" ng-model="industry" multiple>
        <option ng-repeat="option in industryCollection" value="{{option.id}}">{{option.name}} </option>
    </select>
</div>
    Functional Area:
<div>
    <label ng-show="!inEditMode" ng-bind="functionalAreaValue"></label>
    <select ng-show="inEditMode" ng-model="functionalArea" multiple>
        <option ng-repeat="option in functionalAreaCollection" value="{{option.id}}">{{option.name}} </option>
    </select>
</div>
    Address:
<div>
    <label ng-show="!inEditMode" ng-bind="address"></label>
    <input ng-show="inEditMode" ng-model="address" />
</div>City:
<div>
    <label ng-show="!inEditMode" ng-bind="city"></label>
    <input ng-show="inEditMode" ng-model="city" />
</div>State:
<div>
    <label ng-show="!inEditMode" ng-bind="stateValue"></label>
    <select ng-show="inEditMode" ng-readonly="inEditMode" ng-model="state">
        <option ng-repeat="option in statesCollection" value="{{option.id}}">{{option.name}}</option>
    </select>
</div>

<div>
    <button ng-click="addProfile()">Add New</button>
</div>
<div>
    <a href="javascript:0" ng-show="!inEditMode" ng-click="editProfile()">Edit</a>
</div>
<span>
    <a href="javascript:0" ng-show="inEditMode" ng-click="updateProfile()">Save</a>
    <a href="javascript:0" ng-show="inEditMode" ng-click="cancelEditProfile()">Cancel</a>
</span>
