@section Scripts {
    @Scripts.Render("~/bundles/Custom")
}
<div>
    Profile Summary:
    <div>
        <textarea ng-model="profileSummary"></textarea>
    </div>
    Date Of Birth:
    <div>
        <md-datepicker ng-model="dob" md-placeholder="Enter date of birth"
                       md-open-on-focus></md-datepicker>
    </div>
    Gender
    <div>
        <select ng-model="gender">
            <option ng-repeat="option in genderCollection" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    Marital Status:
    <div>
        <select ng-model="maritalStatus">
            <option ng-repeat="option in maritalStatusCollection" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>
    Preferred Location:
    <div>
        <select ng-model="preferredLocation" multiple>
            <option ng-repeat="option in preferredLocationCollection" value="{{option.id}}">{{option.name}} </option>
        </select>
    </div>
    Industry:
    <div>
        <select ng-model="industry" multiple>
            <option ng-repeat="option in industryCollection" value="{{option.id}}">{{option.name}} </option>
        </select>
    </div>
    Functional Area:
    <div>
        <select ng-model="functionalArea" multiple>
            <option ng-repeat="option in functionalAreaCollection" value="{{option.id}}">{{option.name}} </option>
        </select>
    </div>
    Address:
    <div>
        <input ng-model="address" />
    </div>City:
    <div>
        <input ng-model="city" />
    </div>State:
    <div>
        <select ng-model="state">
            <option ng-repeat="option in statesCollection" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>

    <div>
        <button ng-click="login()">Save</button>
    </div>
</div>
